<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Property name="service_id">${smartfarm.service.id}</Property>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>
		<File name="FileLog" fileName="./log/app.log">
			<PatternLayout>
				<pattern>%m%n</pattern>
			</PatternLayout>
		</File>
		<Appender type="File" name="LampLogFile2" fileName="./log/app.%d{HHmm}.log">
			<Layout type="PatternLayout">
				<Pattern>%m%n</Pattern>
			</Layout>
		</Appender>
	</Appenders>
	<Loggers>
		<Logger name="java.sql" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="FileLog" />
		</Logger>
		<Logger name="com.kt" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="FileLog" />
		</Logger>
		<Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework" level="DEBUG"
			additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="FileLog" />
		</Logger>
		<Root level="DEBUG">
			<AppenderRef ref="console" />
			<AppenderRef ref="FileLog" />
		</Root>
	</Loggers>
</Configuration>
